//Styles for the header

header {
	@extend .section;
	display: flex;
	height: 600px;
	background: linear-gradient(-45deg, $verde_base, $azul_base);
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	background-color: $navbar_color;
	color: white;

	.container {
		position: relative;
		z-index: 200;
	}
}

.navbar__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
	.navbar__brand {
		@extend .link;
		color: white;
		font-weight: bold;
		@include font-size(20px);
	}
	.navbar__button {
		height: 35px;
		width: 45px;
		border: 1px solid $navbar_color_dark;
		border-radius: 10%;
		background-color: $navbar_color;
		&:hover {
			background-color: $navbar_color_dark;
		}

		&.navbar__button--hide {
			display: none;
		}

		@include breakpoint(dog) {
			display: none;
		}
	}
		.icon-bar {
			display: block;
			height: 1px;
			margin: 5px;
			background-color: white;
		}

.navbar__menu {
	display: none;
	border-top: 1px solid $navbar_color_dark;
	
	ul li {
		margin: 10px;
		font-weight: bold;
		@include font-size(18px);
	}
	&.navbar__menu--collapsed {
		display: block;
	}

	@include breakpoint(dog) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;
			padding-right: 15px;
		}
	}
}

.headline {
	margin: 60px auto 0;
	color: white;
	align-self: flex-end;
	text-align: center;
	@include clearfix;
}