
/* ------- FONTES - REM ------- */
@function rem( $target, $context: 16px ) {
	@return ( $target / $context ) * 1rem;
}



/* ------- FONTES - EM ------- */
@function em( $target, $context: 16 ) {
	@return ( $target / $context ) * 1em;
}

/* ------- BREAKPOINTS - use : @include breakpoint(mouse) { parameters: values; } ------- */
@mixin breakpoint( $breakpoint ) {
	@if $breakpoint == mouse {
		@media only screen and (min-width: em(480)) { @content; }
	}

	@else if $breakpoint == dog {
		@media only screen and (min-width: em(768)) { @content; }
	}

	@else if $breakpoint == horse {
		@media only screen and (min-width: em(1024)) { @content; }
	}

	@else if $breakpoint == elephant {
		@media only screen and (min-width: em(1280)) { @content; }
	}

	@else {
		@media only screen and (min-width: $breakpoint) { @content; }
	}
}

@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* ------- FONTS - usage: @include font-size(14px); ------- */
@mixin font-size($target, $context: 16px) {
    font-size: $target;
    font-size: rem($target,$context);
}