
// General stylesheet and basic grid for the page
body {
	@include font-FuturaBT-Book;
}

.link {
	&:hover {
		color: $link_hover;
	}
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    @include clearfix;
}

.sr-only {
	font: 0/0 a;
	position: absolute;
}

.section {
	h1, h2 {
		@include font-size(28px);
		text-align: center;
	}
}

.row {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 15px;
	@include breakpoint(mouse) {
		grid-template-columns: auto auto;
	}
	@include breakpoint(dog) {
		grid-template-columns: auto auto auto;
	}
}

	.row__item {

	}


// SECTION-WORK

#section-work {
	
}

.work-item {
	text-align: center;
	border-bottom: 1px solid $section-color;
	padding-bottom: 10px;
	margin-bottom: 20px;
	img {
		width: 100%;
	}

	&:last-child {
		border: none;
	}

	@include breakpoint(mouse) {
		border: none;
	}
}
	.work-item__title {
		@include font-FuturaBT-Medium;
		@include font-size(18px);
		margin: 10px 10px 5px;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: $text_secondary;
	}
	.work-item__tags {
		margin-bottom: 5px;
		&::before {
			display: inline-block;
			vertical-align: bottom;
			width: 20px;
			@include font-size(22px);
			font-weight: bold;
			line-height: 1em;
			content: "\203A";
			color: $link_hover;
		}

		li {
			display: inline;
			@include font-size(16px);
		}
	}
	.work-item__desc {
		margin: 20px 0;
		padding: 0 10px;
	}
	.work-item__link {
		display: inline-block;
		margin: 10px;
		color: $link_hover;
		border-bottom: 1px solid $link_hover;
	}


// SECTION ABOUT

#section-about {
	background-color: $section_color;
}

.about-me {
	
	figure {
		width: 250px;
		margin: 0 auto 20px;
		padding: 10px;
		background-color: white;
		border-radius: 50%;
		border: 2px solid $section_color_darker;
		img {
			width: 100%;
			border-radius: 100%;
		}
	}

	@include breakpoint(dog) {
		display: grid;
		grid-template-columns: auto auto;
		figure {
			margin: 40px 40px 120px;
		}
	}
}

	.about-me__text {
		margin: 0 auto 40px;
		text-align: center;
		p {
			margin: 5px auto 5px;
		}
		@include breakpoint(dog) {
			text-align: left;
			margin: 0;
			padding: 8% 40px 8% 0;
		}
	}




// SECTION CONTACT
#section-contact {
	
}