
// General stylesheet for home page
body {
	@include font-FuturaBT-Book;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    @include clearfix;
}

.sr-only {
	font: 0/0 a;
	position: absolute;
}

.section {
	min-height: 580px;
}


// SECTION-WORK

#section-work {
	// @extend .section;
	background-color: $cinza-lighter;
}


// SECTION ABOUT

#section-about {
	// @extend .section;

}


// SECTION CONTACT
#section-contact {
	// @extend .section;
	background-color: $cinza-light;
}