

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a, a:link, a:hover, a:active, a:focus, a:visited {
	text-decoration: none;
	color: inherit;
}

button:focus {
	outline: none;
}