

//Colors
$verde_dark   : #007f80;
$verde_base   : #00b1b3;
$azul_dark    : #233140;
$azul_base    : #1d5086;
$azul_cinza   : #2c3e50;
$cinza_dark   : #3b3f44;
$cinza_base	  : #4d545d;
$cinza_light  : #586e75;
$cinza_lighter: #d7d7d7;


$text_secondary : $azul_cinza;
$link_hover : $verde_base;
$button_focus : $verde_dark;

$navbar_color : $cinza_base;
$navbar_color_dark : $cinza_dark;

$section_color: $cinza_lighter;
$section_color_darker : $cinza_light;

$footer_color : $azul_cinza;
$footer_dark  : $azul_dark;
$input_border : $cinza_lighter;
